---
import DarkScene from "../layouts/DarkScene.astro";
import MonsterChooser from "../components/onboarding/MonsterChooser.astro";
import CustomCursor from "../components/home/CustomCursor.astro";

export const prerender = false;
---

<DarkScene
  title="Choose your monster - Aishwarya's Portfolio"
  description="Pick the monster that will run around Aishwarya's portfolio with you."
  showClock={false}
>
  <div transition:name="sidebar" aria-hidden="true" style="position:absolute;width:0;height:0;overflow:hidden;"></div>
  <div transition:name="footer" aria-hidden="true" style="position:absolute;width:0;height:0;overflow:hidden;"></div>
  <MonsterChooser />
  <CustomCursor color="teal" />
</DarkScene>
